<mat-card appearance="outlined" class="car-card" (click)="goToCarDetails()">
    <div class="car-card-container">

        <div class="car-image">
            <img mat-card-image src="https://static.europcar.com/carvisuals/450x300/57383_GWY_R.png"
                alt="Photo of a Shiba Inu">
        </div>

        <div class="car-info">
            <mat-card-header>
                <mat-card-title>{{ car.model }}</mat-card-title>
                <mat-card-subtitle>{{ car.manufacturer }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p> License Plate: {{ car.license_plate }} </p>
                <p> Year: {{ car.year }} </p>
            </mat-card-content>
        </div>

        <div class="car-price">
            <span>FROM</span>
            <h2>€{{ car.rate_per_day }} / day</h2>
            <button mat-button (click)="goToCarBooking()">Rent</button>
        </div>

    </div>
</mat-card>