<mat-card appearance="outlined" class="car-card">
    
    <div>
        <button mat-button class="button-back" (click)="goBack()"><mat-icon aria-hidden="false" aria-label="Example back-arrow icon" fontIcon="arrow_back"></mat-icon></button>
    </div>
    
    <div class="car-card-container">
    
        <div class="car-image">
            <img mat-card-image src="https://static.europcar.com/carvisuals/450x300/57383_GWY_R.png" alt="Photo of a Shiba Inu">
        </div>

        <div class="car-description">
            <div class="car-info">
                <div class="first-info">
                    <p> Model: Fiat 500 </p>
                    <p> Manufactor: Fiat </p>
                    <p> License Plate: 22-XX-44 </p>
                </div>
                <div>
                    <p> Year: 2024 </p>
                    <p> Daily Rate: 30€ </p>
                    <p> Status: Available</p>
                </div>
            </div>

            <div class="car-buttons">
                <button mat-button class="button-availability">Check Availablility</button>
                <button mat-button class="button-rent">Rent</button>
            </div>
        </div>

    </div>
</mat-card>