<mat-card appearance="outlined" class="car-card">
    
    <div>
        <button mat-button class="button-back" (click)="goBack()"><mat-icon aria-hidden="false" aria-label="Example back-arrow icon" fontIcon="arrow_back"></mat-icon></button>
    </div>

    <div class="car-card-container">
    
        <div class="car-image">
            <img mat-card-image src="https://static.europcar.com/carvisuals/450x300/57383_GWY_R.png" alt="Photo of a Shiba Inu">
        </div>

        <div class="car-description">
            <div class="car-info">
                <div class="first-info">
                    <p> <b>Model: </b> {{ car()?.model }} </p>
                    <p> <b>Manufactor: </b> {{ car()?.manufacturer }} </p>
                    <p> <b>License Plate: </b> {{ car()?.license_plate }} </p>
                </div>
                <div>
                    <p> <b>Year: </b> {{ car()?.year }} </p>
                    <p> <b>Daily Rate: </b> {{ car()?.rate_per_day }} </p>
                    <p class="status" [ngClass]="car()?.status?.toLowerCase()">{{ car()?.status }}</p>
                </div>
            </div>

            <div class="car-buttons">
                <ng-container *ngIf="car()?.status === 'Available';">
                    <button mat-button color="primary" (click)="goToCarBooking()">Rent</button>
                </ng-container>
            </div>
        </div>
    </div>
</mat-card>